html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	background: #333333;
	width: 97%;
	margin: 0 auto;
	color: white;
	font-size: 20px;
	height: 100%;
}

textarea, pre {
	border: 0;
}

header {
	position: absolute;
	width: 150px;
	right: 10px;
}

form {
	height: 100%;
}

.nav {
	position: absolute;
	top: 22px;
	right: 175px;

}

.nav a:before {
	content: attr(data-content);
}

.dz-default {
	position: absolute;
	border: 1px solid white;
	padding: 10px;
	top: 10px;
	left: 250px;
	height: 10px;
	width: 250px;
	visibility: hidden;
}

.dz-previews {
	position: absolute;
	top: 22px;
	right: 310px;
	overflow: hidden;
}

.dz-preview {
	position: relative;
	overflow: hidden;
	/*height: 50px;*/
	/*width: 60px;*/
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

.dz-preview div {
	position: relative;
	float: left;
	overflow: hidden;
}

.dz-filename span {
	max-width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	margin-right: 5px;
}

.dz-details span {
}

.dz-progress {

}

.dz-success-mark {
	color: lightgreen;
	margin-left: 5px;
}

.dz-details img {
	width: 100%;
	display: none;
}

.dz-error-mark {
	display: none;
}

.dz-error-message {
	display: none;
}

.content {
	padding-top: 3em;
	height: 95%;
}

.message {
	width: 70%;
	margin: 10px auto;
	text-align: center;
}

.pastebox {
	width: 100%;
	height: 100%;
	outline: 0;
	background: #333;
	border-radius: 0;
	color: #ddd;
}

.pastes {
	width: 70%;
	margin: 40px auto;
}

.pastes li {
	display: inline-block;
	margin-bottom: 5px;
}

.pastes li a {
	width: 130px;
}